.cabeçalho {
    background-color: aliceblue;
    color: black;
    display: flex;
    padding: 24px 0;
}

.section1 {
  background-color:aliceblue
    padding: 100px;
}

.section2 {
    background-color: aliceblue;
    padding: 100px;
}

.cabecalho-imagem{
    width: 20%;
}

.rodape{
    background-color: crimson;
}