.cabeçalho {
    background-color: rgb(255, 255, 255);
    color: black;
    display: flex;
    padding: 24px 0;
}

.section1 {
    background-color: rgb(255, 255, 255);
    padding: 100px;
}

.section2 {
    background-color: rgb(255, 255, 255);
    padding: 100px;
}

.cabecalho-imagem{
    width: 2%;
}

.rodape{
    background-color: crimson;
}