.cabeçalho {
    background-color: aliceblue;
    color: black;
    display: flex;
    padding: 24px 0;
}

.section1 {
    background-color: red;
    padding: 100px;
}

.section2 {
    background-color: red;
    padding: 100px;
}